# Requirements for the demo notebooks
# Useful for MyBinder configuration
pandas
numpy
datascience
folium
matplotlib
fonttools>=4.61.0 # not directly required, pinned by Snyk to avoid a vulnerability
