# Requirements for the demo notebooks
# Useful for MyBinder configuration
pandas
numpy
datascience
folium
matplotlib
nbinteract
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability